@model JYGASOFT.Models.Deudor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Deudor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apell_pat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apell_pat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apell_mat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apell_mat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cant_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cant_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meses_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meses_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intereses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intereses)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
